slot-fb{display:contents}slot-fb[hidden]{display:none}mock-pds-modal,pds-accordion,pds-alert,pds-avatar,pds-box,pds-button,pds-checkbox,pds-chip,pds-combobox,pds-container,pds-copytext,pds-divider,pds-dropdown-menu,pds-dropdown-menu-item,pds-dropdown-menu-separator,pds-filter,pds-filters,pds-icon,pds-image,pds-input,pds-link,pds-loader,pds-modal,pds-modal-content,pds-modal-footer,pds-modal-header,pds-multiselect,pds-popover,pds-progress,pds-property,pds-radio,pds-radio-group,pds-row,pds-select,pds-sortable,pds-sortable-item,pds-switch,pds-tab,pds-table,pds-table-body,pds-table-cell,pds-table-head,pds-table-head-cell,pds-table-row,pds-tabpanel,pds-tabs,pds-text,pds-textarea,pds-toast,pds-tooltip{visibility:hidden}.hydrated{visibility:inherit}

  /* Custom CSS Added Via Theme Settings */
  /* CSS Overrides go here */


  #editor-overlay {
    display: none;
    border-color: #2E91FC;
    position: absolute;
    background-color: rgba(46,145,252,0.05);
    border-style: dashed;
    border-width: 3px;
    border-radius: 3px;
    pointer-events: none;
    cursor: pointer;
    z-index: 10000000000;
  }
  .editor-overlay-button {
    color: white;
    background: #2E91FC;
    border-radius: 2px;
    font-size: 13px;
    margin-inline-start: -24px;
    margin-block-start: -12px;
    padding-block: 3px;
    padding-inline: 10px;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:1.5px;

    left: 50%;
    top: 50%;
    position: absolute;
  }


  body main {
    direction: ltr;
  }
  .slick-list {
    direction: ltr;
  }


  /* Font Awesome 4 */
  .fa.fa-twitter{
    font-family:sans-serif;
  }
  .fa.fa-twitter::before{
    content:"𝕏";
    font-size:1.2em;
  }

  /* Font Awesome 5 */
  .fab.fa-twitter{
    font-family:sans-serif;
  }
  .fab.fa-twitter::before{
    content:"𝕏";
    font-size:1.2em;
  }




  /* Default Header Styles */
  .header {
    
      background-color: #FFFFFF;
    
    font-size: 18px;
  }
  .header a,
  .header a.link-list__link,
  .header a.link-list__link:hover,
  .header a.social-icons__icon,
  .header .user__login a,
  .header .dropdown__item a,
  .header .dropdown__trigger:hover {
    color: #595959;
  }
  .header .dropdown__trigger {
    color: #595959 !important;
  }
  /* Mobile Header Styles */
  @media (max-width: 767px) {
    .header {
      
      font-size: 16px;
    }
    
    .header .hamburger__slices .hamburger__slice {
      
        background-color: ;
      
    }
    
      .header a.link-list__link, .dropdown__item a, .header__content--mobile {
        text-align: left;
      }
    
    .header--overlay .header__content--mobile  {
      padding-bottom: 20px;
    }
  }
  /* Sticky Styles */
  


  #block-1703789142761 {
    line-height: 1;
  }
  #block-1703789142761 .logo__image {
    display: block;
    width: 350px;
  }
  #block-1703789142761 .logo__text {
    color: ;
  }


@media (min-width: 768px) {
  #block-1703789142761 {
    text-align: left;
  }
} 


@media (min-width: 768px) {
  #block-1555988491313 {
    text-align: right;
  }
} 


@media (min-width: 768px) {
  #block-1602256221872 {
    text-align: right;
  }
} 


  
    #section-1606260100947 {
      background-image: var(--replica-background_0001);
      background-position: bottom;
    }
  
  #section-1606260100947 .section__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: ;
  }
  #section-1606260100947 .sizer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #section-1606260100947 .container {
    max-width: calc(1260px + 10px + 10px);
    padding-right: 10px;
    padding-left: 10px;
    
  }
  #section-1606260100947 .row {
    
  }
  #section-1606260100947 .container--full {
    width: 100%;
    max-width: calc(100% + 10px + 10px);
  }
  @media (min-width: 768px) {
    
      #section-1606260100947 {
        
      }
    
    #section-1606260100947 .sizer {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    #section-1606260100947 .container {
      max-width: calc(1260px + 40px + 40px);
      padding-right: 40px;
      padding-left: 40px;
    }
    #section-1606260100947 .container--full {
      max-width: calc(100% + 40px + 40px);
    }
  }
  
  


  /* flush setting */
  
  
  /* margin settings */
  #block-1709225480318, [data-slick-id="1709225480318"] {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  #block-1709225480318 .block, [data-slick-id="1709225480318"] .block {
    /* border settings */
    border: 4px  black;
    border-radius: 4px;
    

    /* background color */
    
    /* default padding for mobile */
    
    
      padding: 20px;
    
    
      
        padding: 20px;
      
    
    /* mobile padding overrides */
    
    
      padding-top: 0px;
    
    
      padding-right: 0px;
    
    
      padding-bottom: 0px;
    
    
      padding-left: 0px;
    
  }

  @media (min-width: 768px) {
    /* desktop margin settings */
    #block-1709225480318, [data-slick-id="1709225480318"] {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
    #block-1709225480318 .block, [data-slick-id="1709225480318"] .block {
      /* default padding for desktop  */
      
      
        
          padding: 30px;
        
      
      /* desktop padding overrides */
      
      
        padding-top: 0px;
      
      
        padding-right: 0px;
      
      
        padding-bottom: 0px;
      
      
        padding-left: 0px;
      
    }
  }
  /* mobile text align */
  @media (max-width: 767px) {
    #block-1709225480318, [data-slick-id="1709225480318"] {
      text-align: center;
    }
  }


  #block-1709225480318 .form-btn {
    border-color: #ccb89a;
    border-radius: 4px;
    background: #ccb89a;
    color: #ffffff;
  }
  #block-1709225480318 .btn--outline {
    color: #ccb89a;
    background: transparent;
  }
  #block-1709225480318 .disclaimer-text {
    font-size: 16px;
    margin-top: 1.25rem;
    margin-bottom: 0;
    color: #888;
  }


    #section-footer {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .footer {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
  

  .footer {
    background-color: #445f68;
  }
  .footer, .footer__block {
    font-size: 16px;
    color: ;
  }
  .footer .logo__text {
    color: ;
  }
  .footer .link-list__links {
    width: 100%;
  }
  .footer a.link-list__link {
    color: ;
  }
  .footer .link-list__link:hover {
    color: ;
  }
  .copyright {
    color: ;
  }
  @media (min-width: 768px) {
    .footer, .footer__block {
      font-size: 18px;
    }
  }
  .powered-by a {
    color:  !important;
  }
  


  /* flush setting */
  
  
  /* margin settings */
  #block-1602193175296, [data-slick-id="1602193175296"] {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  #block-1602193175296 .block, [data-slick-id="1602193175296"] .block {
    /* border settings */
    border: 4px  black;
    border-radius: 4px;
    

    /* background color */
    
      background-color: ;
    
    /* default padding for mobile */
    
      padding: 20px;
    
    
      padding: 20px;
    
    
      
        padding: 20px;
      
    
    /* mobile padding overrides */
    
    
      padding-top: 0px;
    
    
      padding-right: 0px;
    
    
      padding-bottom: 0px;
    
    
      padding-left: 0px;
    
  }

  @media (min-width: 768px) {
    /* desktop margin settings */
    #block-1602193175296, [data-slick-id="1602193175296"] {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
    #block-1602193175296 .block, [data-slick-id="1602193175296"] .block {
      /* default padding for desktop  */
      
        padding: 30px;
      
      
        
          padding: 30px;
        
      
      /* desktop padding overrides */
      
      
        padding-top: 0px;
      
      
        padding-right: 0px;
      
      
        padding-bottom: 0px;
      
      
        padding-left: 0px;
      
    }
  }
  /* mobile text align */
  @media (max-width: 767px) {
    #block-1602193175296, [data-slick-id="1602193175296"] {
      text-align: center;
    }
  }


  #block-1602193175296 .link-list__title {
    color: ;
  }
  #block-1602193175296 .link-list__link {
    color: ;
  }


  .social-icons--1703790100590 .social-icons__icons {
    justify-content: 
  }
  .social-icons--1703790100590 .social-icons__icon {
    color:  !important;
  }
  .social-icons--1703790100590.social-icons--round .social-icons__icon {
    background-color: #0072EF;
  }
  .social-icons--1703790100590.social-icons--square .social-icons__icon {
    background-color: #0072EF;
  }
  
    
  
  @media (min-width: 768px) {
    .social-icons--1703790100590 .social-icons__icons {
      justify-content: 
    }
  }


  #exit-pop .modal__content {
    background: ;
  }
  


  #two-step .modal__content {
    background: ;
  }
  


  /* flush setting */
  
  
  /* margin settings */
  #block-1585757540189, [data-slick-id="1585757540189"] {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  #block-1585757540189 .block, [data-slick-id="1585757540189"] .block {
    /* border settings */
    border: 4px none black;
    border-radius: 4px;
    

    /* background color */
    
    /* default padding for mobile */
    
    
    
    /* mobile padding overrides */
    
      padding: 0;
    
    
    
    
    
  }

  @media (min-width: 768px) {
    /* desktop margin settings */
    #block-1585757540189, [data-slick-id="1585757540189"] {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
    #block-1585757540189 .block, [data-slick-id="1585757540189"] .block {
      /* default padding for desktop  */
      
      
      /* desktop padding overrides */
      
        padding: 0;
      
      
      
      
      
    }
  }
  /* mobile text align */
  @media (max-width: 767px) {
    #block-1585757540189, [data-slick-id="1585757540189"] {
      text-align: ;
    }
  }


  #block-1585757540189 .block,
  [data-slick-id="1585757540189"] .block {
    display: flex;
    justify-content: flex-start;
  }
  #block-1585757540189 .image,
  [data-slick-id="1585757540189"] .image {
    width: 100%;
    overflow: hidden;
    
    border-radius: 4px;
    
  }
  #block-1585757540189 .image__image,
  [data-slick-id="1585757540189"] .image__image {
    width: 100%;
    
  }
  #block-1585757540189 .image__overlay,
  [data-slick-id="1585757540189"] .image__overlay {
    
      opacity: 0;
    
    background-color: #fff;
    border-radius: 4px;
    
  }
  
  #block-1585757540189 .image__overlay-text,
  [data-slick-id="1585757540189"] .image__overlay-text {
    color:  !important;
  }
  @media (min-width: 768px) {
    #block-1585757540189 .block,
    [data-slick-id="1585757540189"] .block {
        display: flex;
        justify-content: flex-start;
    }
    #block-1585757540189 .image__overlay,
    [data-slick-id="1585757540189"] .image__overlay {
      
        opacity: 0;
      
    }
    #block-1585757540189 .image__overlay:hover {
      opacity: 1;
    }
  }
  


  /* flush setting */
  
  
  /* margin settings */
  #block-1585757543890, [data-slick-id="1585757543890"] {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  #block-1585757543890 .block, [data-slick-id="1585757543890"] .block {
    /* border settings */
    border: 4px none black;
    border-radius: 4px;
    

    /* background color */
    
    /* default padding for mobile */
    
    
    
    /* mobile padding overrides */
    
    
    
    
    
  }

  @media (min-width: 768px) {
    /* desktop margin settings */
    #block-1585757543890, [data-slick-id="1585757543890"] {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
    #block-1585757543890 .block, [data-slick-id="1585757543890"] .block {
      /* default padding for desktop  */
      
      
      /* desktop padding overrides */
      
      
      
      
      
    }
  }
  /* mobile text align */
  @media (max-width: 767px) {
    #block-1585757543890, [data-slick-id="1585757543890"] {
      text-align: center;
    }
  }


  #block-1585757543890 .form-btn {
    border-color: #0072EF;
    border-radius: 4px;
    background: #0072EF;
    color: #ffffff;
  }
  #block-1585757543890 .btn--outline {
    color: #0072EF;
    background: transparent;
  }
  #block-1585757543890 .disclaimer-text {
    font-size: 16px;
    margin-top: 1.25rem;
    margin-bottom: 0;
    color: #888;
  }

[data-replica-style="inline-0"]{color: #ffffff;}
[data-replica-style="inline-1"]{color: #ffffff;}
[data-replica-style="inline-2"]{display: none;}