<!DOCTYPE html>

<html lang="en"><head>
<title>{{content:text_0001}}</title>
<meta charset="utf-8"/>
<meta content="ie=edge, chrome=1" http-equiv="x-ua-compatible"/>
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
<meta content="website" property="og:type"/>
<meta content="https://www.coachvalerie.com/download-stress-less-plan" property="og:url"/>
<meta content="summary_large_image" name="twitter:card"/>
<meta content="Download the Stress Less Plan" property="og:title"/>
<meta content="Download the Stress Less Plan" name="twitter:title"/>
<link href="/replica-assets/cc3947782ae3b0dac2768848.png" rel="shortcut icon"/>

<link href="/replica-assets/0b21289e446cd3e963520074.css" rel="stylesheet" type="text/css"/>

<link href="/replica-assets/6a6cd80b5cf51ef6a8593bcb.css" media="screen" rel="stylesheet"/>
<link href="/replica-assets/23a0a8d29f0b3ec36cbd2040.css" rel="stylesheet"/>
<link href="/replica-assets/5a4b2f8a0dd260cf134046c2.css" media="screen" rel="stylesheet"/>

<link href="/replica-assets/b743ca597729ead752e5e11a.css" media="screen" rel="stylesheet"/>



<link href="/replica-assets/16c24ed9234b3d3fed8a5195.png" rel="apple-touch-icon"/>
<meta content="false" name="turbo-prefetch"/>

<meta content="en" name="site_locale"/>

<link href="/replica-assets/9f17a6fbef462bf912b71744.css" rel="stylesheet"/>
<meta content="noindex,nofollow,noarchive" name="robots"/><link href="/replica-assets/preview.css" rel="stylesheet"/><link href="/replica-assets/page-2c469c0d084afa45114b.css" rel="stylesheet"/></head>
<body data-aos-delay="0" data-aos-duration="400" data-aos-easing="ease">
<div data-section-id="header" id="section-header">
<div class="hidden">
</div>
<header class="header header--static hidden--desktop hidden--mobile" data-replica-style="inline-0" kjb-settings-id="sections_header_settings_background_color">
<div class="announcements">
</div>
<div class="header__wrap">
<div class="header__content header__content--desktop background-light">
<div class="container header__container media">
<div class="header__block header__block--logo header__block--show" id="block-header_0">

<a class="logo" href="{{content:link_0007}}">
<img alt="{{content:text_0008}}" class="logo__image" kjb-settings-id="sections_header_blocks_header_0_settings_logo" src="{{content:asset_0009}}"/>
</a>
</div>
<div aria-expanded="false" aria-label="{{content:text_0010}}" class="hamburger hidden--desktop" role="button" tabindex="0">
<div class="hamburger__slices">
<div class="hamburger__slice hamburger--slice-1"></div>
<div class="hamburger__slice hamburger--slice-2"></div>
<div class="hamburger__slice hamburger--slice-3"></div>
<div class="hamburger__slice hamburger--slice-4"></div>
</div>
</div>
</div>
</div>
<div class="header__content header__content--mobile background-light"></div>
</div>
</header>
</div>
<main>
<div data-content-for-index="" data-dynamic-sections="index"><div data-section-id="1702666533790" id="section-1702666533790">
<div class="section background-light" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" kjb-settings-id="sections_1702666533790_settings_background_color">
<div class="sizer sizer--full" data-replica-style="inline-1">
<div class="container container--full">
<div class="row align-items-center justify-content-center">

<div class="block-type--image text- col-4" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1707780068179" kjb-settings-id="sections_1702666533790_blocks_1707780068179_settings_width">
<div class="block box-shadow- background-unrecognized aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<div class="image">
<a class="image__link" href="{{content:link_0011}}">
<img alt="" class="image__image" kjb-settings-id="sections_1702666533790_blocks_1707780068179_settings_image" src="{{content:asset_0012}}"/>
</a>
</div>
</div>
</div>

<div class="block-type--text text-left col-9" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1702666533790_0" kjb-settings-id="sections_1702666533790_blocks_1702666533790_0_settings_width">
<div class="block box-shadow- background-unrecognized aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<p data-replica-style="inline-2">{{content:text_0002}}</p>
</div>
</div>

<div class="block-type--cta text-center col-5" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1703097942977" kjb-settings-id="sections_1702666533790_blocks_1703097942977_settings_width">
<div class="block box-shadow- background-unrecognized aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<a class="btn btn-medium btn-solid btn-full background-light" href="{{content:link_0013}}" kjb-settings-id="sections_1702666533790_blocks_1703097942977_settings_btn_background_color">{{content:text_0003}}</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div>
</main>
<div data-section-id="footer" id="section-footer">


<footer class="footer background-dark hidden--desktop hidden--mobile" kjb-settings-id="sections_footer_settings_background_color">
<div class="footer__content">
<div class="container footer__container media">
<div class="footer__block" id="block-1555988525205">
<span kjb-settings-id="sections_footer_blocks_1555988525205_settings_copyright">{{content:text_0004}}</span>
</div>
<div class="footer__block" id="block-1698167583704">

<div class="social-icons social-icons--" kjb-settings-id="sections_footer_blocks_1698167583704_settings_social_icons_text_color">
<a class="social-icons__icon" href="{{content:link_0014}}" kjb-settings-id="sections_footer_blocks_1698167583704_settings_social_icon_link_facebook" rel="noopener noreferrer" target="_blank">
<i class="fab fa-facebook-f"></i>
</a>
<a class="social-icons__icon" href="{{content:link_0015}}" kjb-settings-id="sections_footer_blocks_1698167583704_settings_social_icon_link_twitter" rel="noopener noreferrer" target="_blank">
<i class="fab fa-twitter"></i>
</a>
<a class="social-icons__icon" href="{{content:link_0016}}" kjb-settings-id="sections_footer_blocks_1698167583704_settings_social_icon_link_instagram" rel="noopener noreferrer" target="_blank">
<i class="fab fa-instagram"></i>
</a>
</div>
</div>
</div>
</div>
</footer>
</div>
<div data-section-id="two_step" id="section-two_step">
<div aria-hidden="true" class="modal two-step" id="two-step" kjb-settings-id="sections_two_step_settings_two_step_edit">
<div class="modal__content background-unrecognized">
<div class="close-x">
<div class="close-x__part"></div>
<div class="close-x__part"></div>
</div>
<div class="modal__body row text- align-items-start justify-content-left">

<div class="block-type--image text- col-12" data-reveal-event="" data-reveal-offset="" data-reveal-units="" id="block-1583530569666" kjb-settings-id="sections_two_step_blocks_1583530569666_settings_width">
<div class="block box-shadow-none background-unrecognized aos-init aos-animate" data-aos="-" data-aos-delay="" data-aos-duration="">

<div class="image">
<img alt="" class="image__image" kjb-settings-id="sections_two_step_blocks_1583530569666_settings_image" src="{{content:asset_0017}}"/>
</div>
</div>
</div>

<div class="block-type--form text-center col-12" data-reveal-event="" data-reveal-offset="" data-reveal-units="" id="block-1583530576858" kjb-settings-id="sections_two_step_blocks_1583530576858_settings_width">
<div class="block box-shadow-none background-unrecognized aos-init aos-animate" data-aos="-" data-aos-delay="" data-aos-duration="">

<div class="form">
<div kjb-settings-id="sections_two_step_blocks_1583530576858_settings_text"><h4>{{content:text_0005}}</h4>
<p>{{content:text_0006}}</p></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div data-section-id="exit_pop" id="section-exit_pop">
</div>



<script defer="" src="/replica-assets/preview.js"></script></body></html>