<!DOCTYPE html>

<html lang="en"><head>
<title>{{content:text_0002}}</title>
<meta charset="utf-8"/>
<meta content="ie=edge, chrome=1" http-equiv="x-ua-compatible"/>
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
<meta content="website" property="og:type"/>
<meta content="https://www.coachvalerie.com/DD-B-promotion" property="og:url"/>
<meta content="summary_large_image" name="twitter:card"/>
<meta content="Daily Do-able (book/subscription) " property="og:title"/>
<meta content="Daily Do-able (book/subscription) " name="twitter:title"/>
<link href="/replica-assets/c152bb30ee29ead36e234d61.png" rel="shortcut icon"/>

<link href="/replica-assets/0b21289e446cd3e963520074.css" rel="stylesheet" type="text/css"/>

<link href="/replica-assets/6a6cd80b5cf51ef6a8593bcb.css" media="screen" rel="stylesheet"/>
<link href="/replica-assets/f8a610ece3454be468644725.css" rel="stylesheet"/>
<link href="/replica-assets/4e969cd35cbdf4340e833885.css" media="screen" rel="stylesheet"/>

<link href="/replica-assets/ea9223cb3013522182aba81a.css" media="screen" rel="stylesheet"/>



<link href="/replica-assets/16c24ed9234b3d3fed8a5195.png" rel="apple-touch-icon"/>
<meta content="false" name="turbo-prefetch"/>

<meta content="en" name="site_locale"/>

<link href="/replica-assets/9f17a6fbef462bf912b71744.css" rel="stylesheet"/>
<meta content="noindex,nofollow,noarchive" name="robots"/><link href="/replica-assets/preview.css" rel="stylesheet"/><link href="/replica-assets/page-986507f18d5f5dbb1424.css" rel="stylesheet"/><style>:root{--replica-background_0001:url("{{content:background_0001}}");}</style></head>
<body class="background-unrecognized" data-aos-delay="0" data-aos-duration="400" data-aos-easing="ease" id="encore-theme">
<div data-section-id="header" id="section-header">

<div class="hidden">
</div>
<header class="header header--static header--close-on-scroll" kjb-settings-id="sections_header_settings_background_color">
<div class="hello-bars">
</div>
<div class="header__wrap">
<div class="header__content header__content--desktop background-unrecognized">
<div class="container header__container media justify-content-left"><div class="header__block header__block--logo header__block--show header__switch-content stretch" id="block-1555988494486" kjb-settings-id="sections_header_blocks_1555988494486_settings_stretch">

<a class="logo" href="{{content:link_0050}}">
<img alt="{{content:text_0051}}" class="logo__image" kjb-settings-id="sections_header_blocks_1555988494486_settings_logo" src="{{content:asset_0052}}"/>
</a>
</div><div class="header__block header__switch-content header__block--menu" id="block-1711576393930" kjb-settings-id="sections_header_blocks_1711576393930_settings_stretch">
<div class="link-list justify-content-right" kjb-settings-id="sections_header_blocks_1711576393930_settings_menu">
</div>
</div><div class="header__block header__switch-content header__block--menu" id="block-1711576406669" kjb-settings-id="sections_header_blocks_1711576406669_settings_stretch">
<div class="link-list justify-content-right" kjb-settings-id="sections_header_blocks_1711576406669_settings_menu">
</div>
</div><div class="header__switch-content header__spacer"></div>



<div aria-expanded="false" aria-label="{{content:text_0053}}" class="hamburger hidden--desktop" kjb-settings-id="sections_header_settings_hamburger_color" role="button" tabindex="0">
<div class="hamburger__slices">
<div class="hamburger__slice hamburger--slice-1"></div>
<div class="hamburger__slice hamburger--slice-2"></div>
<div class="hamburger__slice hamburger--slice-3"></div>
<div class="hamburger__slice hamburger--slice-4"></div>
</div>
</div>
</div>
</div>
<div class="header__content header__content--mobile">
</div>
</div>
</header>
</div>
<main>
<div data-content-for-index="" data-dynamic-sections="index"><div data-section-id="1606258505758" id="section-1606258505758">
<section class="section background-light" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" kjb-settings-id="sections_1606258505758_settings_background_color">
<div class="sizer">
<div class="section__overlay"></div>
<div class="container">
<div class="row align-items-center justify-content-center">

<div class="block-type--image text- col-4" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1712163185952" kjb-settings-id="sections_1606258505758_blocks_1712163185952_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<div class="image">
<img alt="" class="image__image" kjb-settings-id="sections_1606258505758_blocks_1712163185952_settings_image" src="{{content:asset_0054}}"/>
</div>
</div>
</div>

<div class="block-type--image text- col-7" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1712164380677" kjb-settings-id="sections_1606258505758_blocks_1712164380677_settings_width">
<div class="block box-shadow- aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<div class="image">
<img alt="" class="image__image" kjb-settings-id="sections_1606258505758_blocks_1712164380677_settings_image" src="{{content:asset_0055}}"/>
</div>
</div>
</div>

<div class="block-type--text text-left col-4" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1712165238258" kjb-settings-id="sections_1606258505758_blocks_1712165238258_settings_width">
<div class="block box-shadow- aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

</div>
</div>

<div class="block-type--text text-center col-7" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1606258505758_0" kjb-settings-id="sections_1606258505758_blocks_1606258505758_0_settings_width">
<div class="block box-shadow-none background-light aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<h1><strong><span data-replica-style="inline-0">{{content:text_0003}}</span></strong></h1>
<h4><span data-replica-style="inline-1">{{content:text_0004}}</span></h4>
<h4><span data-replica-style="inline-2">{{content:text_0005}}</span></h4>
</div>
</div>
</div>
</div>
</div>
</section>
</div><div data-section-id="1653685832406" id="section-1653685832406">
<section class="section background-dark" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" kjb-settings-id="sections_1653685832406_settings_background_color">
<div class="sizer">
<div class="section__overlay"></div>
<div class="container">
<div class="row align-items-center justify-content-center">
</div>
</div>
</div>
</section>
</div><div data-section-id="1712165378412" id="section-1712165378412">
<section class="section" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" kjb-settings-id="sections_1712165378412_settings_background_color">
<div class="sizer">
<div class="section__overlay"></div>
<div class="container">
<div class="row align-items-center justify-content-center">

<div class="block-type--text text-left col-8" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1712165378412_0" kjb-settings-id="sections_1712165378412_blocks_1712165378412_0_settings_width">
<div class="block box-shadow- aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<h3><span data-replica-style="inline-3">{{content:text_0006}}</span></h3>
<ul>
<li><b>{{content:text_0007}}</b><span>{{content:text_0008}}</span></li>
<li><b>{{content:text_0009}}</b><span>{{content:text_0010}}</span></li>
<li><b>{{content:text_0011}}</b><span>{{content:text_0012}}</span></li>
</ul>
<p><span>{{content:text_0013}}</span></p>
</div>
</div>
</div>
</div>
</div>
</section>
</div><div data-section-id="1653766070815" id="section-1653766070815">
<section class="section background-dark" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" kjb-settings-id="sections_1653766070815_settings_background_color">
<div class="sizer">
<div class="section__overlay"></div>
<div class="container">
<div class="row align-items-center justify-content-center">
</div>
</div>
</div>
</section>
</div><div data-section-id="1655390162740" id="section-1655390162740">
<section class="section hidden--desktop background-light" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" kjb-settings-id="sections_1655390162740_settings_background_color">
<div class="sizer">
<div class="section__overlay"></div>
<div class="container">
<div class="row align-items-center justify-content-center">

<div class="block-type--text text-center col-10" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655390162737_0" kjb-settings-id="sections_1655390162740_blocks_1655390162737_0_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<h4>{{content:text_0014}}</h4>
</div>
</div>

<div class="block-type--text text-center col-10" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655390162737_1" kjb-settings-id="sections_1655390162740_blocks_1655390162737_1_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<h3><span data-replica-style="inline-4">{{content:text_0015}}</span></h3>
</div>
</div>

<div class="block-type--image text- col-4" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655390162737_2" kjb-settings-id="sections_1655390162740_blocks_1655390162737_2_settings_width">
<div class="block box-shadow-medium aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<div class="image">
<img alt="" class="image__image" kjb-settings-id="sections_1655390162740_blocks_1655390162737_2_settings_image" src="{{content:asset_0056}}"/>
</div>
</div>
</div>

<div class="block-type--text text-left col-5 animated" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655390162737_3" kjb-settings-id="sections_1655390162740_blocks_1655390162737_3_settings_width">
<div class="block box-shadow-none background-dark aos-init aos-animate" data-aos="fade" data-aos-delay="0" data-aos-duration="1000">

<p>{{content:text_0016}}<span>{{content:text_0017}}</span></p>
</div>
</div>

<div class="block-type--code text-left col-12" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655390162739_4" kjb-settings-id="sections_1655390162740_blocks_1655390162739_4_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

</div>
</div>

<div class="block-type--image text- col-4" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655390162739_7" kjb-settings-id="sections_1655390162740_blocks_1655390162739_7_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<div class="image">
<img alt="" class="image__image" kjb-settings-id="sections_1655390162740_blocks_1655390162739_7_settings_image" src="{{content:asset_0057}}"/>
</div>
</div>
</div>

<div class="block-type--text text-right col-5 animated" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655390162739_6" kjb-settings-id="sections_1655390162740_blocks_1655390162739_6_settings_width">
<div class="block box-shadow-none background-dark aos-init aos-animate" data-aos="fade" data-aos-delay="0" data-aos-duration="1000">

<p>{{content:text_0018}}</p>
</div>
</div>

<div class="block-type--code text-left col-12" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655390221296" kjb-settings-id="sections_1655390162740_blocks_1655390221296_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

</div>
</div>

<div class="block-type--image text- col-4" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655390162739_8" kjb-settings-id="sections_1655390162740_blocks_1655390162739_8_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<div class="image">
<img alt="" class="image__image" kjb-settings-id="sections_1655390162740_blocks_1655390162739_8_settings_image" src="{{content:asset_0058}}"/>
</div>
</div>
</div>

<div class="block-type--text text-left col-5 animated" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655390162739_9" kjb-settings-id="sections_1655390162740_blocks_1655390162739_9_settings_width">
<div class="block box-shadow-none background-dark aos-init aos-animate" data-aos="fade" data-aos-delay="0" data-aos-duration="1000">

<p>{{content:text_0019}}<span>{{content:text_0020}}</span></p>
</div>
</div>

<div class="block-type--cta text-center col-4" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655390162739_11" kjb-settings-id="sections_1655390162740_blocks_1655390162739_11_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<a class="btn btn--outline btn--medium btn--auto" href="{{content:link_0059}}" kjb-settings-id="sections_1655390162740_blocks_1655390162739_11_settings_btn_background_color" role="button">{{content:text_0021}}</a>
</div>
</div>
</div>
</div>
</div>
</section>
</div><div data-section-id="1655383087444" id="section-1655383087444">
<section class="section hidden--desktop" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" kjb-settings-id="sections_1655383087444_settings_background_color">
<div class="sizer">
<div class="section__overlay"></div>
<div class="container">
<div class="row align-items-center justify-content-around">

<div class="block-break"></div>
<div class="block-type--text text-center col-5" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655383087443_0" kjb-settings-id="sections_1655383087444_blocks_1655383087443_0_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<h2><span data-replica-style="inline-5">{{content:text_0022}}<br/>{{content:text_0023}}</span></h2>
</div>
</div>
<div class="block-break"></div>

<div class="block-break"></div>
<div class="block-type--text text-right col-5" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655383087443_1" kjb-settings-id="sections_1655383087444_blocks_1655383087443_1_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<h6><span data-replica-style="inline-6">{{content:text_0024}}</span></h6>
</div>
</div>
<div class="block-break"></div>

<div class="block-type--image text- col-4 animated" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655383087443_2" kjb-settings-id="sections_1655383087444_blocks_1655383087443_2_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="fade" data-aos-delay="0" data-aos-duration="1000">

<div class="image">
<img alt="" class="image__image" kjb-settings-id="sections_1655383087444_blocks_1655383087443_2_settings_image" src="{{content:asset_0060}}"/>
</div>
</div>
</div>

<div class="block-type--text text-center col-3" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655383087443_5" kjb-settings-id="sections_1655383087444_blocks_1655383087443_5_settings_width">
<div class="block box-shadow-none background-light aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<h5><strong><span class="JsGRdQ">{{content:text_0025}}</span></strong></h5>
<p><span class="JsGRdQ">{{content:text_0026}}</span></p>
</div>
</div>

<div class="block-type--image text- col-4 animated" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655383087443_3" kjb-settings-id="sections_1655383087444_blocks_1655383087443_3_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="fade" data-aos-delay="0" data-aos-duration="1000">

<div class="image">
<img alt="" class="image__image" kjb-settings-id="sections_1655383087444_blocks_1655383087443_3_settings_image" src="{{content:asset_0061}}"/>
</div>
</div>
</div>

<div class="block-type--text text-center col-3" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655383087443_6" kjb-settings-id="sections_1655383087444_blocks_1655383087443_6_settings_width">
<div class="block box-shadow-none background-light aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<h5><strong>{{content:text_0027}}</strong></h5>
<p><span class="JsGRdQ">{{content:text_0028}}</span></p>
</div>
</div>

<div class="block-type--image text- col-4 animated" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655383087443_4" kjb-settings-id="sections_1655383087444_blocks_1655383087443_4_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="fade" data-aos-delay="0" data-aos-duration="1000">

<div class="image">
<img alt="" class="image__image" kjb-settings-id="sections_1655383087444_blocks_1655383087443_4_settings_image" src="{{content:asset_0062}}"/>
</div>
</div>
</div>

<div class="block-type--text text-center col-3" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655383087443_7" kjb-settings-id="sections_1655383087444_blocks_1655383087443_7_settings_width">
<div class="block box-shadow-none background-light aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<h5><strong>{{content:text_0029}}</strong></h5>
<p><span class="JsGRdQ">{{content:text_0030}}</span></p>
</div>
</div>

<div class="block-type--cta text-center col-4" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1655383087443_8" kjb-settings-id="sections_1655383087444_blocks_1655383087443_8_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<a class="btn btn--solid btn--medium btn--auto" href="{{content:link_0063}}" kjb-settings-id="sections_1655383087444_blocks_1655383087443_8_settings_btn_background_color" role="button">{{content:text_0031}}</a>
</div>
</div>
</div>
</div>
</div>
</section>
</div><div data-section-id="1653687941109" id="section-1653687941109">
<section class="section" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" kjb-settings-id="sections_1653687941109_settings_background_color">
<div class="sizer">
<div class="section__overlay"></div>
<div class="container">
<div class="row align-items-center justify-content-center">

<div class="block-type--text text-left col-8" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1653687941109_0" kjb-settings-id="sections_1653687941109_blocks_1653687941109_0_settings_width">
<div class="block box-shadow- aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<h2>{{content:text_0032}}</h2>
<p>{{content:text_0033}}</p>
<p>{{content:text_0034}}</p>
<h2> </h2>

<a class="btn btn--outline btn--medium btn--auto" href="{{content:link_0064}}" kjb-settings-id="sections_1653687941109_blocks_1653687941109_0_settings_btn_background_color" role="button">{{content:text_0035}}</a>
</div>
</div>

<div class="block-type--text text-left col-8" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1712167841859" kjb-settings-id="sections_1653687941109_blocks_1712167841859_settings_width">
<div class="block box-shadow- aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<h2>{{content:text_0036}}</h2>
<p>{{content:text_0037}}</p>
<p>{{content:text_0038}}<span> </span><a href="{{content:link_0065}}" rel="noopener noreferrer" target="_blank">{{content:text_0039}}</a><span> </span>{{content:text_0040}}</p>
<h2> </h2>
</div>
</div>

<div class="block-type--text text-left col-8" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" id="block-1712171002447" kjb-settings-id="sections_1653687941109_blocks_1712171002447_settings_width">
<div class="block box-shadow- aos-init aos-animate" data-aos="none" data-aos-delay="0" data-aos-duration="0">

<h2>{{content:text_0041}}</h2>
<p>{{content:text_0042}}</p>
<p><span>{{content:text_0043}}</span></p>

<a class="btn btn--outline btn--medium btn--auto" href="{{content:link_0066}}" kjb-settings-id="sections_1653687941109_blocks_1712171002447_settings_btn_background_color" role="button">{{content:text_0044}}</a>
</div>
</div>
</div>
</div>
</div>
</section>
</div><div data-section-id="1712167993416" id="section-1712167993416">
<section class="section background-dark" data-reveal-event="" data-reveal-offset="" data-reveal-units="seconds" kjb-settings-id="sections_1712167993416_settings_background_color">
<div class="sizer">
<div class="section__overlay"></div>
<div class="container">
<div class="row align-items-center justify-content-center">
</div>
</div>
</div>
</section>
</div></div>
</main>
<div data-section-id="footer" id="section-footer">


<footer class="footer background-dark" kjb-settings-id="sections_footer_settings_background_color">
<div class="footer__content">
<div class="container footer__container media">

<div class="block-type--link_list text-left col-" data-reveal-event="" data-reveal-offset="" data-reveal-units="" id="block-1602193175296" kjb-settings-id="sections_footer_blocks_1602193175296_settings_width">
<div class="block box-shadow- aos-init aos-animate" data-aos="-" data-aos-delay="" data-aos-duration="">

<div class="link-list link-list--row link-list--desktop-left link-list--mobile-center">
<div class="link-list__links" kjb-settings-id="sections_footer_blocks_1602193175296_settings_menu">
<a class="link-list__link" href="{{content:link_0067}}">{{content:text_0045}}</a>
<a class="link-list__link" href="{{content:link_0068}}">{{content:text_0046}}</a>
<a class="link-list__link" href="{{content:link_0069}}">{{content:text_0047}}</a>
</div>
</div>
</div>
</div>
<div class="footer__block" id="block-1673891228638">

<div class="social-icons social-icons-- social-icons--1673891228638" kjb-settings-id="sections_footer_blocks_1673891228638_settings_social_icons_text_color">
<div class="social-icons__icons">
<a class="social-icons__icon social-icons__icon--" href="{{content:link_0070}}" kjb-settings-id="sections_footer_blocks_1673891228638_settings_social_icon_link_instagram" rel="noopener noreferrer" target="_blank">
<i class="fab fa-instagram"></i>
</a>
<a class="social-icons__icon social-icons__icon--" href="{{content:link_0071}}" kjb-settings-id="sections_footer_blocks_1673891228638_settings_social_icon_link_pinterest" rel="noopener noreferrer" target="_blank">
<i class="fab fa-pinterest-p"></i>
</a>
<a class="social-icons__icon social-icons__icon--" href="{{content:link_0072}}" kjb-settings-id="sections_footer_blocks_1673891228638_settings_social_icon_link_tiktok" rel="noopener noreferrer" target="_blank">
<i class="fab fa-tiktok"></i>
</a>
<a class="social-icons__icon social-icons__icon--" href="{{content:link_0073}}" kjb-settings-id="sections_footer_blocks_1673891228638_settings_social_icon_link_medium" rel="noopener noreferrer" target="_blank">
<i class="fab fa-medium-m"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</footer>
</div>
<div data-section-id="exit_pop" id="section-exit_pop">
</div>
<div data-section-id="two_step" id="section-two_step">
<div aria-hidden="true" class="modal two-step" id="two-step" kjb-settings-id="sections_two_step_settings_two_step_edit">
<div class="modal__content background-unrecognized">
<div class="close-x">
<div class="close-x__part"></div>
<div class="close-x__part"></div>
</div>
<div class="modal__body row text- align-items-start justify-content-left">

<div class="block-type--image text- col-12" data-reveal-event="" data-reveal-offset="" data-reveal-units="" id="block-1585757540189" kjb-settings-id="sections_two_step_blocks_1585757540189_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="-" data-aos-delay="" data-aos-duration="">

<div class="image">
<img alt="" class="image__image" kjb-settings-id="sections_two_step_blocks_1585757540189_settings_image" src="{{content:asset_0074}}"/>
</div>
</div>
</div>

<div class="block-type--form text-center col-12" data-reveal-event="" data-reveal-offset="" data-reveal-units="" id="block-1585757543890" kjb-settings-id="sections_two_step_blocks_1585757543890_settings_width">
<div class="block box-shadow-none aos-init aos-animate" data-aos="-" data-aos-delay="" data-aos-duration="">

<div class="form">
<div kjb-settings-id="sections_two_step_blocks_1585757543890_settings_text"><h4>{{content:text_0048}}</h4>
<p>{{content:text_0049}}</p></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



<script defer="" src="/replica-assets/preview.js"></script></body></html>